.form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
  max-width: 400px;
  padding: 0 10px;
}

.input {
  display: block;
  flex: 1;
  margin-left: 5px;
}

.button {
  width: 50px;
}
